language: "perl"
perl:
  - "5.30"
  - "5.28"
  - "5.26"
  - "5.24"

before_install:
    - sudo apt-get update -q
    - sudo apt-get install -y libimlib2-dev
    - cpanm --quiet --notest Test::Pod Test::Pod::Coverage Devel::Cover::Report::Coveralls

install:
    - cpanm -v --installdeps --notest .

script:
  - PERL5OPT=-MDevel::Cover=-coverage,statement,branch,condition,path,subroutine prove -lrsv t
  - perl Makefile.PL
  - make
  - make test
  - cover

after_success:
    - cover -report coveralls

branches:
  only:
    - master

notifications:
  recipients:
    - "p.brovchenko@protonmail.com"
  email:
    on_success: change
    on_failure: always
